pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-*
.repl
.nrepl-*
.DS_Store
*.sublime-*
.idea*
open-company-desktop.iml
.sass-cache/
.shadow-cljs/
node_modules/

.ruby-gemset
.ruby-version

forms-emitted.txt
forms-read.txt
forms-analyzed.txt

.calva/
.vscode/
public/js/
public/cljs-runtime/

# See electron-builder.example.env
electron-builder.env

index.js
index.js.map